@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-gray-200 scroll-smooth;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px] cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] items-center px-[18px] border rounded-lg;
  }
  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-[#3938CD];
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-[#3938CD] ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-white absolute w-full z-10 list-none rounded-b-lg;
  }
}

.orange-circle{
  width: 4rem;
  height: 4rem;
  background: #3938CD;
  border-radius: 999px;
  position: absolute;
  right: -8%;
  top: -10%;
  z-index: -1;
}


/* join us */

.email-container{
  display:flex;
  gap: 3rem;
  background-color: #3938CD;
  padding: 1.3rem 2rem;
}
.email-container>input{
  background-color: white;
  border-radius: 3px;
  outline: none;
  
  padding: .4rem .4rem;
}

.btn-j{
  background-color: white;
  color: #3938CD;
  padding: .5rem;
  border-radius: 3px;
  font-weight: bold;
}
/* join ends */

/* about page begins*/

.heading{
  /* background: url('./assets/img/happyfam2.jpg') rgba(20, 59, 95, 0.7); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/happyfam2.jpg');
  background-position: fixed;
  background-size: cover;
  height:70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* about page ends */

/* contact section begins */
.head{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(21, 24, 202, 0.8)), url('./assets/img/aboutBg.jpg');
  background-position: fixed;
  background-size: cover;
  height:70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* contact section ends */
